<div class="comment">
  <div class="comment_header">
    <p class="comment_name">
      <%= comment.user.name %>
    </p>
    <p class="comment_date">
      <%= l(comment.created_at.in_time_zone('Tokyo'), format: :default) %>
    </p>
  </div>
  <p class="comment_content">
    <%= comment.content %>
  </p>
</div>
