/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.comment {
  width: 50%;
  margin: 10px 0px 20px 0px;
  border-bottom: solid 1px lightgray;
}

.comment_header {
  display: flex;
}

.comment_name {
  margin: 0px 10px 0px 0px;
  font-weight: bold;
}
 
.comment_date {
  margin: 0px auto 0px 10px;
  color: gray;
}

.comment_button {
  margin: 0px 5px 0px 5px;
  border: none;
  color: gray;
}

.comment_content {
  background-color: transparent;
  font-size: 1em;
  color: dimgrey;
}

.comment_save_button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 1em;
  color: dimgrey;
  padding: 0px;
}